.componentAlign {
  background-color: rgba(108, 168, 100, 0);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.questionComponent {
  background-color: #bebebe;
  width: 800px;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: inset 0 0 0 3px rgb(0, 0, 0);
  border-radius: 32px;
}

.questionSection {
  background-color: #979292;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 30px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
}
.questionInfo {
  background-color: rgba(0, 255, 255, 0);
  align-items: center;
  display: flex;
  gap: 1rem;
}

.questionAuthor h1 {
  color: rgb(15, 71, 62);
  font-weight: 800;
}
.questionUpdatedAt {
  color: rgba(63, 63, 63, 0.863);
  font-size: small;
}
.questionTitle {
}
.questionBody {
}

.ButtonsWraper {
  background-color: rgba(255, 140, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likeShareButtonWraper {
  gap: 0.5rem;
  display: flex;
}

.likeButtonWraper {
  background-color: rgb(114, 114, 113);
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 4px;
}
.likeButton {
  background-color: rgba(255, 127, 80, 0);
  width: 28px;
  height: 28px;
}
.shareButtonWraper {
  background-color: rgb(114, 114, 113);
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 4px;
}
.shareButton {
  background-color: rgba(255, 127, 80, 0);
  width: 28px;
  height: 28px;
}

.addAnswerButton {
  background-color: rgb(114, 114, 113);
  cursor: pointer;
  align-content: center;
  height: 40px;
  color: rgba(0, 0, 0, 0.719);
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid #000000;
  border-radius: 10px;
}
.addAnswerButton button {
  cursor: pointer;
}

.answerSection {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.answerAuthor {
}
.answerUpdatedAt {
}
.answerBody {
}
